body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: white;
    background-color: #333333;
    font-size: 16px; /* Base font size (rem)*/
}

 /* Navbar */
.navbar{
    overflow: hidden;
    top: 0;
    width: 97.9%;
    display: flex;
    align-items: center;
    padding: 1rem 1rem;
    position: relative;
    background-color: #494949;
}

/* Navbar Links */
.nav-container {
    display: flex;
    justify-content: center;
    flex: 1;
}

.nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links a{
    font-weight: bold;
    font-size: 2rem;
    color: white;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    margin: 0 2rem;
    transition: transform 0.3s;
}

.nav-links a:hover{
    transform: scale(1.33);
    color: grey;
}

/* Content */
.header{
    margin-top: 7%;
    margin-left: 20%;
    display: block;
    padding: 2rem;
    text-align: left;
}

.name {
    font-size: 4rem;
    margin: 0;
}

.header h1{
    font-size: 4rem;
    margin: 0;
}

.header p{
    margin-top: 1rem;
    font-size: 1.5rem;
    display: inline-block;
    font-weight: bold;
}
.header p1 {
    margin-top: 1rem;
    font-size: 1.5rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    display: inline-block;
    font-weight: bold;
}

.content{
    color: white;
    padding: 1rem;
}

.content h1{
    font-size: 4rem;
    margin: 0;
}

.content p{
    margin-top: 1rem;
    font-size: 1.5rem; 
}

.footer{
    background-color: #494949;
    text-align: center;
    padding: 1rem 0;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.footer a{
    color: white;
    margin: 0 2rem;
    text-decoration: none;
    font-size: 2rem;
}

.footer a:hover{
    transform: scale(1.33);
}